/* General Page Styling */
body {
  background-color: #000000;
  font-family: Arial;
  color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 120px;
}

/* General card styling */
.product-card {
  display: flex;
  background-color: #f0efef;
  max-width: 800px;
  width: 100%;
  height: 500px;
  color: #000000;
  padding: 20px;
}

.left-img-col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling Image */
.left-img-col img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.right-info-col {
  flex: 1.2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  font-size: 32px;
  margin-bottom: 15px;
}

h5 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #d3d3d3;
}

p {
  font-size: 14px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.available-colors {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}

.available-colors span {
  font-size: 14px;
  margin-right: 10px;
}

.black-color-container,
.red-color-container,
.white-color-container {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}

.black-color-container {
  background-color: #000000;
}

.red-color-container {
  background-color: #ff0000;
}

.white-color-container {
  background-color: #f5f5dc;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h4 {
  font-size: 32px;
  margin: 0;
}

.buy-btn {
  background-color: #000000;
  color: #ffffff;
  border: none;
  width: 150px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.buy-btn:hover {
  background-color: #525252;
}
